export GITHUB_TOKEN=$(op item get "argo-crossplane-demo" --field token --vault "homelab")
export GITHUB_USERNAME=$(op item get "argo-crossplane-demo" --field username --vault "homelab")
export BASE64_GITHUB_TOKEN=$(echo -n $GITHUB_TOKEN | base64)